In [1]:
import os
import glob
import pandas as pd
import datetime

In [2]:
# Import our input dataset all merged files for 1 year of data. 09/19-09/20
data = pd.read_csv('data/combined_csv.csv')
data.head()

,backers_count,blurb,category,converted_pledged_amount,country,country_displayable_name,created_at,creator,currency,currency_symbol,...,staff_pick,state,state_changed_at,static_usd_rate,urls,usd_pledged,usd_type,last_update_published_at,unread_messages_count,unseen_activity_count
0,3,I love to cook but I can't leave a recipe the ...,"{""id"":313,""name"":""Small Batch"",""slug"":""food/sm...",15.0,US,the United States,1409361021,"{""id"":1429728529,""name"":""William Kofoed"",""is_r...",USD,$,...,False,failed,1412264648,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",15.000000,domestic,NaN,NaN,NaN
1,6,We need to buy a Code Signing Certificate for ...,"{""id"":51,""name"":""Software"",""slug"":""technology/...",41.0,GB,the United Kingdom,1424279756,"{""id"":1829217905,""name"":""TA Programming"",""slug...",GBP,£,...,False,failed,1426885214,1.537206,"{""web"":{""project"":""https://www.kickstarter.com...",43.041761,domestic,NaN,NaN,NaN
2,90,A photo book featuring a decade of landscape p...,"{""id"":280,""name"":""Photobooks"",""slug"":""photogra...",4350.0,US,the United States,1532743641,"{""id"":391376396,""name"":""Michael Whitworth"",""sl...",USD,$,...,False,successful,1535375918,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",4350.000000,domestic,NaN,NaN,NaN
3,205,I would like your help in realising my dream o...,"{""id"":280,""name"":""Photobooks"",""slug"":""photogra...",14335.0,GB,the United Kingdom,1518273727,"{""id"":466109304,""name"":""Tom Broadbent"",""is_reg...",GBP,£,...,False,successful,1522910552,1.379356,"{""web"":{""project"":""https://www.kickstarter.com...",14043.223538,domestic,NaN,NaN,NaN
4,35,I hope to create a world-wide forum for the SC...,"{""id"":53,""name"":""Public Art"",""slug"":""art/publi...",4254.0,US,the United States,1343258464,"{""id"":1769879149,""name"":""Evvie Harmon"",""is_reg...",USD,$,...,False,successful,1347335940,1.000000,"{""web"":{""project"":""https://www.kickstarter.com...",4254.000000,domestic,NaN,NaN,NaN

In [3]:
# display content of columns
data.count()

backers_count               2546516
blurb                       2546422
category                    2546516
converted_pledged_amount    2546514
country                     2546516
country_displayable_name    2546516
created_at                  2546516
creator                     2546516
currency                    2546516
currency_symbol             2546516
currency_trailing_code      2546516
current_currency            2546516
deadline                    2546516
disable_communication       2546516
friends                        2340
fx_rate                     2546516
goal                        2546516
id                          2546516
is_backing                     2340
is_starrable                2546516
is_starred                     2340
launched_at                 2546516
location                    2544084
name                        2546515
permissions                    2340
photo                       2546516
pledged                     2546516
profile                     2546516
slug                        2546516
source_url                  2546516
spotlight                   2546516
staff_pick                  2546516
state                       2546516
state_changed_at            2546516
static_usd_rate             2546516
urls                        2546516
usd_pledged                 2546514
usd_type                    2542820
last_update_published_at          1
unread_messages_count             1
unseen_activity_count             1
dtype: int64

The dataset contains projects added to Kickstarter between 22 April 2009 and 16 September 2020

In [4]:
len(data)

2546516

In [5]:
# dropping duplicates
clean = data.drop_duplicates()

In [6]:
# looking for duplicates
len(clean)

2540558

# Column content:
- backers_count - count of the backers
- blurb - description of project
- category - category and sub-category of the kickstarter project
- converted_pledged_amount - amount pledged converted to USD
- country - source of project
- country_displayable_name - displayed name
- created_at - date and time when created
- creator - creator of project and some more info
- currency - original currency
- currency_symbol - original currency symbol
- current_trailing_code - ?
- current_currency - converted USD currency
- deadline - date and time deadline
- disable_communication - whether owner disabled communication with backers
- friends - if people are friends? not sure. mainly empty
- fx_rate - forex rate from original currency
- goal - goal
- id - id number
- is_backing - ?
- is_starrable - is this project able to be favorited by someone?
- is_starred - is it favorited by someone
- launched_at - launch date
- location - location
- name - name
- permissions - ? mainly empty
- photo - project photo
- pledged - amount pledged
- profile - project profile
- slug - name of the project
- source_url - url
- spotlight - advertised by kickstarter after successful
- staff_pick - chosed by staff so it gets more coverage
- state - whether a project was successful, failed, canceled, suspending or still live
- state_changed_at - date and time when project's status was changed. same as deadline for successful and failed
- static_usd_rate - conversion rate between the original currency and USD
- urls - url 
- usd_pledged - amount pledged in USD
- usd_type - domestic or international
- last_update_published_at - last update time
- unread_messages_count - count of unread messages
- unseen_activity_count - count of unseen activity

In [7]:
# dropping columns with small no-null values
clean.drop(['friends', 'is_backing', 'is_starred', 'permissions','last_update_published_at','unread_messages_count','unseen_activity_count'], axis=1, inplace=True)

/Users/laurentvanhassel/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [8]:
clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2540558 entries, 0 to 2546515
Data columns (total 34 columns):
 #   Column                    Dtype
---  ------                    -----
 0   backers_count             int64
 1   blurb                     object
 2   category                  object
 3   converted_pledged_amount  float64
 4   country                   object
 5   country_displayable_name  object
 6   created_at                int64
 7   creator                   object
 8   currency                  object
 9   currency_symbol           object
 10  currency_trailing_code    bool
 11  current_currency          object
 12  deadline                  int64
 13  disable_communication     bool
 14  fx_rate                   float64
 15  goal                      float64
 16  id                        int64
 17  is_starrable              bool
 18  launched_at               int64
 19  location                  object
 20  name                      object
 21  photo                     object
 22  pledged                   float64
 23  profile                   object
 24  slug                      object
 25  source_url                object
 26  spotlight                 bool
 27  staff_pick                bool
 28  state                     object
 29  state_changed_at          int64
 30  static_usd_rate           float64
 31  urls                      object
 32  usd_pledged               float64
 33  usd_type                  object
dtypes: bool(5), float64(6), int64(6), object(17)
memory usage: 593.6+ MB

dropping irrelevant columns listed below as well
- converted_pledged_amount - same as usd_pledged
- country - same as country_displayed_name
- creator - irrelevant 
- currency - irrelvant as converted
- currency_symbol - irrelevant
- currency_trailing_code - irrelevant
- currenct_currency - irrelevant as it has converted
- disable_communication - almost all the same
- fx_rate - irrelevant. info in USD_pledged
- is_starrable - irrelevant
- name - irrelevant
- photo - irrelevant
- profile -irrelevant
- slug -same as name. irrelevant 
- source_url- irrelevant
- spotlight - irrelevant as it is only for projects that succeeded. will skew results
- state_changed_at - irrelevant
- static_usd_rate -irrelevant
- urls - irrelevant
- usd_type - irrelevant

In [9]:
# Dropping useless columns
clean.drop(['converted_pledged_amount', 'country', 'creator', 'currency', 'currency_symbol', 'currency_trailing_code','disable_communication', 'fx_rate', 'is_starrable', 'name', 'photo', 'profile', 'slug', 'source_url', 'spotlight', 'state_changed_at', 'static_usd_rate','urls', 'usd_type', 'current_currency'], axis=1, inplace=True)

In [10]:
clean.head()

,backers_count,blurb,category,country_displayable_name,created_at,deadline,goal,id,launched_at,location,pledged,staff_pick,state,usd_pledged
0,3,I love to cook but I can't leave a recipe the ...,"{""id"":313,""name"":""Small Batch"",""slug"":""food/sm...",the United States,1409361021,1412264647,400.0,933683581,1409672647,"{""id"":2444115,""name"":""Magna"",""slug"":""magna-ut""...",15.0,False,failed,15.000000
1,6,We need to buy a Code Signing Certificate for ...,"{""id"":51,""name"":""Software"",""slug"":""technology/...",the United Kingdom,1424279756,1426885166,200.0,1606802005,1424296766,"{""id"":23416974,""name"":""Greater London"",""slug"":...",28.0,False,failed,43.041761
2,90,A photo book featuring a decade of landscape p...,"{""id"":280,""name"":""Photobooks"",""slug"":""photogra...",the United States,1532743641,1535375918,2500.0,71643250,1532783918,"{""id"":2406080,""name"":""Fort Worth"",""slug"":""fort...",4350.0,False,successful,4350.000000
3,205,I would like your help in realising my dream o...,"{""id"":280,""name"":""Photobooks"",""slug"":""photogra...",the United Kingdom,1518273727,1522910552,9500.0,32480002,1520322152,"{""id"":44418,""name"":""London"",""slug"":""london-gb""...",10181.0,False,successful,14043.223538
4,35,I hope to create a world-wide forum for the SC...,"{""id"":53,""name"":""Public Art"",""slug"":""art/publi...",the United States,1343258464,1347335940,4000.0,2003312020,1346100013,"{""id"":2378319,""name"":""Charleston"",""slug"":""char...",4254.0,False,successful,4254.000000

need to convert unix times to standard

In [15]:
# Converting dates from unix to datetime
unix_convert = ['created_at', 'deadline', 'launched_at']
for x in unix_convert:
    clean[x] = pd.to_datetime(clean[x], origin='unix', unit='s')

<ipython-input-15-114671dbc364>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean[x] = pd.to_datetime(clean[x], origin='unix', unit='s')

In [16]:
clean.head()

,backers_count,blurb,category,country_displayable_name,created_at,deadline,goal,id,launched_at,location,pledged,staff_pick,state,usd_pledged
0,3,I love to cook but I can't leave a recipe the ...,"{""id"":313,""name"":""Small Batch"",""slug"":""food/sm...",the United States,2014-08-30 01:10:21,2014-10-02 15:44:07,400.0,933683581,2014-09-02 15:44:07,"{""id"":2444115,""name"":""Magna"",""slug"":""magna-ut""...",15.0,False,failed,15.000000
1,6,We need to buy a Code Signing Certificate for ...,"{""id"":51,""name"":""Software"",""slug"":""technology/...",the United Kingdom,2015-02-18 17:15:56,2015-03-20 20:59:26,200.0,1606802005,2015-02-18 21:59:26,"{""id"":23416974,""name"":""Greater London"",""slug"":...",28.0,False,failed,43.041761
2,90,A photo book featuring a decade of landscape p...,"{""id"":280,""name"":""Photobooks"",""slug"":""photogra...",the United States,2018-07-28 02:07:21,2018-08-27 13:18:38,2500.0,71643250,2018-07-28 13:18:38,"{""id"":2406080,""name"":""Fort Worth"",""slug"":""fort...",4350.0,False,successful,4350.000000
3,205,I would like your help in realising my dream o...,"{""id"":280,""name"":""Photobooks"",""slug"":""photogra...",the United Kingdom,2018-02-10 14:42:07,2018-04-05 06:42:32,9500.0,32480002,2018-03-06 07:42:32,"{""id"":44418,""name"":""London"",""slug"":""london-gb""...",10181.0,False,successful,14043.223538
4,35,I hope to create a world-wide forum for the SC...,"{""id"":53,""name"":""Public Art"",""slug"":""art/publi...",the United States,2012-07-25 23:21:04,2012-09-11 03:59:00,4000.0,2003312020,2012-08-27 20:40:13,"{""id"":2378319,""name"":""Charleston"",""slug"":""char...",4254.0,False,successful,4254.000000

In [20]:
# Extract sub-category section from category
f = lambda x: x['category'].split('/')[1].split('","position')[0]
clean['sub_category'] = clean.apply(f, axis=1)

#extract and replace
f = lambda x: x['category'].split('"slug":"')[1].split('/')[0]
clean['category'] = clean.apply(f, axis=1)
f = lambda x: x['category'].split('","position"')[0] 
clean['category'] = clean.apply(f, axis=1)

<ipython-input-20-29d43fe4f9ee>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean['sub_category'] = clean.apply(f, axis=1)
<ipython-input-20-29d43fe4f9ee>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean['category'] = clean.apply(f, axis=1)
<ipython-input-20-29d43fe4f9ee>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean['category'] = clean.apply(f, axis=1)

In [22]:
clean.head()

,backers_count,blurb,category,country_displayable_name,created_at,deadline,goal,id,launched_at,location,pledged,staff_pick,state,usd_pledged,sub_category
0,3,I love to cook but I can't leave a recipe the ...,food,the United States,2014-08-30 01:10:21,2014-10-02 15:44:07,400.0,933683581,2014-09-02 15:44:07,"{""id"":2444115,""name"":""Magna"",""slug"":""magna-ut""...",15.0,False,failed,15.000000,small batch
1,6,We need to buy a Code Signing Certificate for ...,technology,the United Kingdom,2015-02-18 17:15:56,2015-03-20 20:59:26,200.0,1606802005,2015-02-18 21:59:26,"{""id"":23416974,""name"":""Greater London"",""slug"":...",28.0,False,failed,43.041761,software
2,90,A photo book featuring a decade of landscape p...,photography,the United States,2018-07-28 02:07:21,2018-08-27 13:18:38,2500.0,71643250,2018-07-28 13:18:38,"{""id"":2406080,""name"":""Fort Worth"",""slug"":""fort...",4350.0,False,successful,4350.000000,photobooks
3,205,I would like your help in realising my dream o...,photography,the United Kingdom,2018-02-10 14:42:07,2018-04-05 06:42:32,9500.0,32480002,2018-03-06 07:42:32,"{""id"":44418,""name"":""London"",""slug"":""london-gb""...",10181.0,False,successful,14043.223538,photobooks
4,35,I hope to create a world-wide forum for the SC...,art,the United States,2012-07-25 23:21:04,2012-09-11 03:59:00,4000.0,2003312020,2012-08-27 20:40:13,"{""id"":2378319,""name"":""Charleston"",""slug"":""char...",4254.0,False,successful,4254.000000,public art

In [37]:
# Counting the number of unique countries
clean.country_displayable_name.unique()

array(['the United States', 'the United Kingdom', 'France', 'Germany',
       'Canada', 'Mexico', 'Spain', 'Austria', 'Sweden', 'Switzerland',
       'Japan', 'Australia', 'the Netherlands', 'Italy', 'Denmark',
       'Singapore', 'Ireland', 'Luxembourg', 'Norway', 'Belgium',
       'New Zealand', 'Hong Kong'], dtype=object)

In [38]:
#location column has way too many unique values, will drop

clean.drop('location', axis=1, inplace=True)

/Users/laurentvanhassel/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [39]:
clean.head()

,backers_count,blurb,category,country_displayable_name,created_at,deadline,goal,id,launched_at,pledged,staff_pick,state,usd_pledged,sub_category
0,3,I love to cook but I can't leave a recipe the ...,food,the United States,2014-08-30 01:10:21,2014-10-02 15:44:07,400.0,933683581,2014-09-02 15:44:07,15.0,False,failed,15.000000,small batch
1,6,We need to buy a Code Signing Certificate for ...,technology,the United Kingdom,2015-02-18 17:15:56,2015-03-20 20:59:26,200.0,1606802005,2015-02-18 21:59:26,28.0,False,failed,43.041761,software
2,90,A photo book featuring a decade of landscape p...,photography,the United States,2018-07-28 02:07:21,2018-08-27 13:18:38,2500.0,71643250,2018-07-28 13:18:38,4350.0,False,successful,4350.000000,photobooks
3,205,I would like your help in realising my dream o...,photography,the United Kingdom,2018-02-10 14:42:07,2018-04-05 06:42:32,9500.0,32480002,2018-03-06 07:42:32,10181.0,False,successful,14043.223538,photobooks
4,35,I hope to create a world-wide forum for the SC...,art,the United States,2012-07-25 23:21:04,2012-09-11 03:59:00,4000.0,2003312020,2012-08-27 20:40:13,4254.0,False,successful,4254.000000,public art

blurb
We will not be focusing on NLP for this project so we will convert this info into something relevant for us. We will look at the length of the blurbs and see if this is has any impact

In [40]:
# Count length of each blurb
clean['blurb_length'] = clean['blurb'].str.split().str.len()

# Drop blurb variable
clean.drop('blurb', axis=1, inplace=True)

<ipython-input-40-fa7e9037b438>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean['blurb_length'] = clean['blurb'].str.split().str.len()
/Users/laurentvanhassel/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [41]:
clean.head()

,backers_count,category,country_displayable_name,created_at,deadline,goal,id,launched_at,pledged,staff_pick,state,usd_pledged,sub_category,blurb_length
0,3,food,the United States,2014-08-30 01:10:21,2014-10-02 15:44:07,400.0,933683581,2014-09-02 15:44:07,15.0,False,failed,15.000000,small batch,28.0
1,6,technology,the United Kingdom,2015-02-18 17:15:56,2015-03-20 20:59:26,200.0,1606802005,2015-02-18 21:59:26,28.0,False,failed,43.041761,software,22.0
2,90,photography,the United States,2018-07-28 02:07:21,2018-08-27 13:18:38,2500.0,71643250,2018-07-28 13:18:38,4350.0,False,successful,4350.000000,photobooks,18.0
3,205,photography,the United Kingdom,2018-02-10 14:42:07,2018-04-05 06:42:32,9500.0,32480002,2018-03-06 07:42:32,10181.0,False,successful,14043.223538,photobooks,19.0
4,35,art,the United States,2012-07-25 23:21:04,2012-09-11 03:59:00,4000.0,2003312020,2012-08-27 20:40:13,4254.0,False,successful,4254.000000,public art,25.0

In [47]:
clean.to_csv( "clean_data.csv", index=False)

In [48]:
clean_data = pd.read_csv('data/clean_data.csv')
clean_data.head()

,Unnamed: 0,backers_count,category,country_displayable_name,created_at,deadline,goal,id,launched_at,pledged,staff_pick,state,usd_pledged,sub_category,blurb_length
0,0,3,food,the United States,2014-08-30 01:10:21,2014-10-02 15:44:07,400.0,933683581,2014-09-02 15:44:07,15.0,False,failed,15.000000,small batch,28.0
1,1,6,technology,the United Kingdom,2015-02-18 17:15:56,2015-03-20 20:59:26,200.0,1606802005,2015-02-18 21:59:26,28.0,False,failed,43.041761,software,22.0
2,2,90,photography,the United States,2018-07-28 02:07:21,2018-08-27 13:18:38,2500.0,71643250,2018-07-28 13:18:38,4350.0,False,successful,4350.000000,photobooks,18.0
3,3,205,photography,the United Kingdom,2018-02-10 14:42:07,2018-04-05 06:42:32,9500.0,32480002,2018-03-06 07:42:32,10181.0,False,successful,14043.223538,photobooks,19.0
4,4,35,art,the United States,2012-07-25 23:21:04,2012-09-11 03:59:00,4000.0,2003312020,2012-08-27 20:40:13,4254.0,False,successful,4254.000000,public art,25.0

In [54]:
clean_data.head()

,backers_count,category,country_displayable_name,created_at,deadline,goal,id,launched_at,pledged,staff_pick,state,usd_pledged,sub_category,blurb_length
0,3,food,the United States,2014-08-30 01:10:21,2014-10-02 15:44:07,400.0,933683581,2014-09-02 15:44:07,15.0,False,failed,15.000000,small batch,28.0
1,6,technology,the United Kingdom,2015-02-18 17:15:56,2015-03-20 20:59:26,200.0,1606802005,2015-02-18 21:59:26,28.0,False,failed,43.041761,software,22.0
2,90,photography,the United States,2018-07-28 02:07:21,2018-08-27 13:18:38,2500.0,71643250,2018-07-28 13:18:38,4350.0,False,successful,4350.000000,photobooks,18.0
3,205,photography,the United Kingdom,2018-02-10 14:42:07,2018-04-05 06:42:32,9500.0,32480002,2018-03-06 07:42:32,10181.0,False,successful,14043.223538,photobooks,19.0
4,35,art,the United States,2012-07-25 23:21:04,2012-09-11 03:59:00,4000.0,2003312020,2012-08-27 20:40:13,4254.0,False,successful,4254.000000,public art,25.0

clean_data.head()

In [55]:
clean_data.set_index('id')

,backers_count,category,country_displayable_name,created_at,deadline,goal,launched_at,pledged,staff_pick,state,usd_pledged,sub_category,blurb_length
id,,,,,,,,,,,,,
933683581,3,food,the United States,2014-08-30 01:10:21,2014-10-02 15:44:07,400.0,2014-09-02 15:44:07,15.0,False,failed,15.000000,small batch,28.0
1606802005,6,technology,the United Kingdom,2015-02-18 17:15:56,2015-03-20 20:59:26,200.0,2015-02-18 21:59:26,28.0,False,failed,43.041761,software,22.0
71643250,90,photography,the United States,2018-07-28 02:07:21,2018-08-27 13:18:38,2500.0,2018-07-28 13:18:38,4350.0,False,successful,4350.000000,photobooks,18.0
32480002,205,photography,the United Kingdom,2018-02-10 14:42:07,2018-04-05 06:42:32,9500.0,2018-03-06 07:42:32,10181.0,False,successful,14043.223538,photobooks,19.0
2003312020,35,art,the United States,2012-07-25 23:21:04,2012-09-11 03:59:00,4000.0,2012-08-27 20:40:13,4254.0,False,successful,4254.000000,public art,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2050298432,972,film & video,the United Kingdom,2018-03-28 17:54:37,2018-05-09 19:32:00,80000.0,2018-04-09 14:26:28,90090.5,True,successful,126911.265732,horror,11.0
3144404,3,film & video,Ireland,2015-05-10 14:11:45,2015-06-09 17:49:06,5000.0,2015-05-10 17:49:06,41.0,False,failed,45.952431,horror,20.0
810114284,0,technology,the United Kingdom,2015-12-21 15:41:16,2016-02-21 19:30:00,50000.0,2015-12-23 23:24:08,0.0,False,canceled,0.000000,sound,14.0
1256163215,0,photography,the United Kingdom,2014-10-10 22:48:14,2014-11-25 01:09:08,6500.0,2014-10-11 00:09:08,0.0,False,canceled,0.000000,places,26.0
1444119952,108,fashion,the United States,2018-03-02 18:33:44,2018-04-10 06:59:00,500.0,2018-03-14 19:13:53,3300.0,False,successful,3300.000000,accessories,22.0

In [56]:
clean_data.isna().sum()

backers_count                   0
category                        0
country_displayable_name        0
created_at                      0
deadline                        0
goal                            0
id                              0
launched_at                     0
pledged                         0
staff_pick                      0
state                           0
usd_pledged                     2
sub_category                98667
blurb_length                   94
dtype: int64